doctype html
html(lang="en")
	head
	include _includes/_head
    
body
	
	header.bird-box
		.back-bird
		.logo
		.fore-bird



	section.content
		article
			h1 Clothing Store
			hr
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni aliquam ullam dolore esse illum facilis adipisci tenetur reiciendis repellat? Dolores tempore ratione, saepe id placeat. Sit, veniam possimus. Esse molestiae architecto soluta, nam, impedit vitae. Voluptatem commodi saepe odio, sunt.
	script(src="js/jquery-2.1.4.min.js")
	script(src="js/function.js")